<!-- /templates/plugins/monitoring/fields/monitor/view-activities-container.vm -->
<style type="text/css">
<!--
  @import url(${baseurl}/download/resources/com.pyxis.monitoring-jira-plugin/css/style.css);
-->
</style>
#set ( $DOLLARDOT = "$." )
<script type="text/javascript">
	<!--
	AJS.$(document).ready(function() {

		AJS.$("#monitor_activity_wait").ajaxStart(function() {
			AJS.$(this).show(0);
		});

		AJS.$("#monitor_activity_wait").ajaxComplete(function() {
			AJS.$(this).hide();
		});

		AJS.$("#monitor_activity_refresh").click(function() {
			AJS.${DOLLARDOT}ajax({
				url: "${baseurl}/secure/MonitorCFRefresh.jspa?decorator=none&issueId=${issue.id}",
				beforeSend: function() {
					AJS.$("#monitor_activity_refresh").hide();
				},
				success: function(data) {
					AJS.$("#monitor_activity_data").html(data);
				},
				complete: function() {
					AJS.$("#monitor_activity_refresh").show();
				}
			});
		});
	});
	// -->
</script>
#set ( $showIssue = false )
<div id="monitor_activity">
	<table>
		<tr>
			<td>#parse("/templates/plugins/monitoring/fields/view-issue-activities.vm")</td>
			<td>
				<input id="monitor_activity_refresh" type="image"
					   src="${baseurl}/download/resources/com.pyxis.monitoring-jira-plugin/images/refresh.gif"
						alt="${i18n.getText('cf.refresh')}" title="${i18n.getText('cf.refresh')}">
			</td>
			<td>
				<img id="monitor_activity_wait" alt="" class="hidden"
					 src="${baseurl}/download/resources/com.pyxis.monitoring-jira-plugin/images/wait.gif"/>
			</td>
		</tr>
	</table>
</div>