<!-- /templates/plugins/monitoring/fields/monitor/view-activities.vm -->
<table id="monitor_activity_data">
	<thead>
	<tr>
		#if ($showIssue)
		<th>${i18n.getText('cf.table.header.issue')}</th>
		#end
		<th>${i18n.getText('cf.table.header.user')}</th>
		<th>${i18n.getText('cf.table.header.lastaccess')}</th>
	</tr>
	</thead>
	<tbody>
		#if($activities.isEmpty())
		<tr>
			<td colspan="2">${i18n.getText('cf.no.activity')}</td>
		</tr>
		#else
			#foreach( $activity in $activities)
			<tr id="monitor_activity_${activity.UserName}">
				#if ($showIssue)
				<td>
					<a href="${baseurl}/browse/${activity.issue.key}">${activity.issue.key}</a>
				</td>
				#end
				<td>
					<a href="${baseurl}/secure/ViewProfile.jspa?name=${activity.UserName}">${activity.UserName}</a>
				</td>
				<td>
					${outlookdate.format(${activity.Time})}
				</td>
			</tr>
			#end
		#end
	</tbody>
</table>
